<nav>
    <div class="navbar">
        <ul class="nav_list">
            <li class="nav_list_item"><a href="/" class="<%= (path === '/') ? 'active' : '' %>">Home</a></li>
            <li class="nav_list_item"><a href="/addItem" class="<%= (path === '/addItem') ? 'active' : '' %>">Add to the
                    list</a></li>
        </ul>
    </div>
</nav>