<%- include('includes/head.ejs') %>

    <link rel="stylesheet" href="/css/errorPage.css">

    <body>
        <%- include('includes/nav.ejs') %>

        <div class="err_container">
            <img src="https://www.civilsociety.co.uk/static/a4b6a9b1-7107-4615-b6d4ed69177667db/article_img_detail_5ba532e110cf7bcee7b0d6e49c027c8b/Dog-440.jpg"
                alt="Error">
            <h2>OOPS! Page Not Found</h2>
        </div>
    </body>

    </html>
