<%- include('includes/head.ejs') %>

    <body>

        <%- include('includes/nav.ejs') %>

            <div class="container">
                <% if (listOfItems.length> 0) { %>
                    <h1>My To do List</h1>
                    <ul class="list">
                        <% for(let item of listOfItems) { %>
                            <li class="list_item">
                                <%= item.title %>
                            </li>
                            <% } %>
                    </ul>
                    <% } else { %>
                        <h2>No items to display!</h2>
                        <% } %>
            </div>
    </body>

    </html>
