body{
    background-image: url('https://images.unsplash.com/photo-1614481327033-68e5df399653?q=80&w=1908&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    margin: 0;
    padding: 0; 
}

.err_container{
    text-align: center;
    width: 20%;
    padding: 20vh 40vw;
}